Acessando arquivos o INMET

In [1]:
from pathlib import Path

base_path = Path("/home/jovyan/data/raw")

list(base_path.rglob("*.CSV"))[:10]

[PosixPath('/home/jovyan/data/raw/2020/INMET_NE_PE_A307_PETROLINA_01-01-2020_A_31-12-2020.CSV'),
 PosixPath('/home/jovyan/data/raw/2020/INMET_NE_PE_A322_GARANHUNS_01-01-2020_A_31-12-2020.CSV'),
 PosixPath('/home/jovyan/data/raw/2021/INMET_NE_PE_A307_PETROLINA_01-01-2021_A_31-12-2021.CSV'),
 PosixPath('/home/jovyan/data/raw/2021/INMET_NE_PE_A322_GARANHUNS_01-01-2021_A_31-12-2021.CSV'),
 PosixPath('/home/jovyan/data/raw/2022/INMET_NE_PE_A307_PETROLINA_01-01-2022_A_31-12-2022.CSV'),
 PosixPath('/home/jovyan/data/raw/2022/INMET_NE_PE_A322_GARANHUNS_01-01-2022_A_31-12-2022.CSV'),
 PosixPath('/home/jovyan/data/raw/2023/INMET_NE_PE_A307_PETROLINA_01-01-2023_A_31-12-2023.CSV'),
 PosixPath('/home/jovyan/data/raw/2023/INMET_NE_PE_A322_GARANHUNS_01-01-2023_A_31-12-2023.CSV'),
 PosixPath('/home/jovyan/data/raw/2024/INMET_NE_PE_A307_PETROLINA_01-01-2024_A_31-12-2024.CSV'),
 PosixPath('/home/jovyan/data/raw/2024/INMET_NE_PE_A322_GARANHUNS_01-01-2024_A_31-12-2024.CSV')]

Lendo CSV

In [3]:
import pandas as pd

arquivo_petrolina_2024 = list(base_path.glob("2024/*PETROLINA*.CSV"))[0]
arquivo_petrolina_2024

PosixPath('/home/jovyan/data/raw/2024/INMET_NE_PE_A307_PETROLINA_01-01-2024_A_31-12-2024.CSV')

In [5]:
df = pd.read_csv(
    arquivo_petrolina_2024,
    sep=';',
    encoding='latin1',
    skiprows=8,      # pula as 8 primeiras linhas de metadados
    low_memory=False
)

df.head()

,Data,Hora UTC,"PRECIPITAÇÃO TOTAL, HORÁRIO (mm)","PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)",PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB),PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB),RADIACAO GLOBAL (Kj/m²),"TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)",TEMPERATURA DO PONTO DE ORVALHO (°C),TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C),TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C),TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C),UMIDADE REL. MAX. NA HORA ANT. (AUT) (%),UMIDADE REL. MIN. NA HORA ANT. (AUT) (%),"UMIDADE RELATIVA DO AR, HORARIA (%)","VENTO, DIREÇÃO HORARIA (gr) (° (gr))","VENTO, RAJADA MAXIMA (m/s)","VENTO, VELOCIDADE HORARIA (m/s)",Unnamed: 19
0,2024/01/01,0000 UTC,0,"970,5","970,5","969,8",NaN,"26,8","20,1","26,8","26,6","20,7",20,70.0,67.0,67.0,294.0,5,"2,2",NaN
1,2024/01/01,0100 UTC,0,"970,4","970,5","970,3",NaN,"26,4","20,7","26,8","26,3","20,7",20,71.0,66.0,71.0,256.0,"4,5","1,5",NaN
2,2024/01/01,0200 UTC,0,"970,8","970,8","970,3",NaN,"26,7","20,7","26,7","26,4","20,8","20,7",71.0,70.0,70.0,222.0,"3,4","1,4",NaN
3,2024/01/01,0300 UTC,"8,8","970,8","971,1","970,8",NaN,"23,2","21,1","26,8","23,2","21,6","20,4",89.0,69.0,88.0,335.0,"2,9",",9",NaN
4,2024/01/01,0400 UTC,"2,6","970,2","970,8","970,2",NaN,"24,3","22,1","24,7",23,"22,6","21,1",92.0,83.0,87.0,314.0,5,"2,1",NaN

In [6]:
df.columns

Index(['Data', 'Hora UTC', 'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)',
       'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)',
       'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)',
       'UMIDADE RELATIVA DO AR, HORARIA (%)',
       'VENTO, DIREÇÃO HORARIA (gr) (° (gr))', 'VENTO, RAJADA MAXIMA (m/s)',
       'VENTO, VELOCIDADE HORARIA (m/s)', 'Unnamed: 19'],
      dtype='object')

Algumas variáveis presentes nos arquivos do INMET foram descartadas por não contribuírem para a identificação de padrões climáticos horários. Valores máximos/mínimos (de temperatura, umidade e orvalho) são estatísticas derivadas, não medições diretas, o que introduz ruído e distorce o comportamento real das variáveis climáticas. Da mesma forma, a rajada máxima do vento representa um pico isolado e não o padrão do vento ao longo do tempo, o que é inadequado para técnicas de agrupamento sensíveis a outliers, como K-Means. Por fim, o ponto de orvalho não é listado como obrigatório e não possui relevância direta para caracterizar a climatologia geral do período no contexto da viticultura. Por esses motivos, apenas as variáveis relevantes (temperatura, umidade, radiação, vento, precipitação e pressão) foram mantidas.

In [7]:
df = df.rename(columns={
    'Data': 'data',
    'Hora UTC': 'hora',
    'RADIACAO GLOBAL (kJ/m²)': 'radiacao',
    'TEMPERATURA DO AR - BULBO SECO, HORARIA (°C)': 'temp_ar',
    'UMIDADE RELATIVA DO AR, HORARIA (%)': 'umidade',
    'PRECIPITAÇÃO TOTAL, HORÁRIO (mm)': 'precipitacao',
    'VENTO, VELOCIDADE HORARIA (m/s)': 'vento_vel',
    'VENTO, DIREÇÃO HORARIA (gr) (° (gr))': 'vento_dir',
    'PRESSAO ATMOSFERICA AO NIVEL DA ESTACAO, HORARIA (mB)': 'pressao'
})

A criação da coluna datetime foi necessária para consolidar as informações de data e hora em um único eixo temporal coerente. Como as estações do INMET fornecem data e hora separadas (e a hora no formato UTC sem separador), é essencial unificá-las para permitir ordenação cronológica, cálculos temporais, filtragens por horas ou períodos e construção de séries temporais. Além disso, os algoritmos de agrupamento aplicados neste projeto dependem de uma representação temporal contínua para identificar padrões climáticos. O ThingsBoard também exige timestamps unificados para publicar telemetrias. Portanto, a criação da coluna datetime é uma etapa obrigatória no tratamento dos dados

In [10]:
# 1) Garantir que 'data' e 'hora' são strings
df['data'] = df['data'].astype(str).str.strip()
df['hora'] = df['hora'].astype(str).str.strip()

# 2) Remover o sufixo " UTC" da hora, se existir
df['hora'] = df['hora'].str.replace(' UTC', '', regex=False)

# Se a hora estiver num formato tipo "0", "300", "1200", padronizar pra "HH:MM"
mascara_numerica = df['hora'].str.fullmatch(r'\d{1,4}')
df.loc[mascara_numerica, 'hora'] = (
    df.loc[mascara_numerica, 'hora']
      .str.zfill(4)
      .str[:2] + ':' + df.loc[mascara_numerica, 'hora'].str.zfill(4).str[2:]
)

# 3) Criar a coluna datetime
df['datetime'] = pd.to_datetime(
    df['data'] + ' ' + df['hora'],
    format='%Y/%m/%d %H:%M',   
    errors='raise'             
)

# 4) Definir datetime como índice
df = df.set_index('datetime')

In [11]:
df.index

DatetimeIndex(['2024-01-01 00:00:00', '2024-01-01 01:00:00',
               '2024-01-01 02:00:00', '2024-01-01 03:00:00',
               '2024-01-01 04:00:00', '2024-01-01 05:00:00',
               '2024-01-01 06:00:00', '2024-01-01 07:00:00',
               '2024-01-01 08:00:00', '2024-01-01 09:00:00',
               ...
               '2024-12-31 14:00:00', '2024-12-31 15:00:00',
               '2024-12-31 16:00:00', '2024-12-31 17:00:00',
               '2024-12-31 18:00:00', '2024-12-31 19:00:00',
               '2024-12-31 20:00:00', '2024-12-31 21:00:00',
               '2024-12-31 22:00:00', '2024-12-31 23:00:00'],
              dtype='datetime64[ns]', name='datetime', length=8784, freq=None)

In [12]:
'datetime' in df.columns

False

In [13]:
df['hora'].head(10)

datetime
2024-01-01 00:00:00    00:00
2024-01-01 01:00:00    01:00
2024-01-01 02:00:00    02:00
2024-01-01 03:00:00    03:00
2024-01-01 04:00:00    04:00
2024-01-01 05:00:00    05:00
2024-01-01 06:00:00    06:00
2024-01-01 07:00:00    07:00
2024-01-01 08:00:00    08:00
2024-01-01 09:00:00    09:00
Name: hora, dtype: object

In [14]:
df.columns

Index(['data', 'hora', 'precipitacao', 'pressao',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)',
       'RADIACAO GLOBAL (Kj/m²)', 'temp_ar',
       'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)', 'umidade', 'vento_dir',
       'VENTO, RAJADA MAXIMA (m/s)', 'vento_vel', 'Unnamed: 19'],
      dtype='object')

In [16]:
df = df.rename(columns={
    'RADIACAO GLOBAL (Kj/m²)': 'radiacao'
})

In [17]:
df.columns

Index(['data', 'hora', 'precipitacao', 'pressao',
       'PRESSÃO ATMOSFERICA MAX.NA HORA ANT. (AUT) (mB)',
       'PRESSÃO ATMOSFERICA MIN. NA HORA ANT. (AUT) (mB)', 'radiacao',
       'temp_ar', 'TEMPERATURA DO PONTO DE ORVALHO (°C)',
       'TEMPERATURA MÁXIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA MÍNIMA NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MAX. NA HORA ANT. (AUT) (°C)',
       'TEMPERATURA ORVALHO MIN. NA HORA ANT. (AUT) (°C)',
       'UMIDADE REL. MAX. NA HORA ANT. (AUT) (%)',
       'UMIDADE REL. MIN. NA HORA ANT. (AUT) (%)', 'umidade', 'vento_dir',
       'VENTO, RAJADA MAXIMA (m/s)', 'vento_vel', 'Unnamed: 19'],
      dtype='object')

Selecionando colunas de interesse (definidas no Drive)

In [18]:
colunas_usadas = [
    'hora',
    'temp_ar',
    'umidade',
    'radiacao',
    'vento_vel',
    'precipitacao',
    'pressao'
]

df = df[colunas_usadas]
df.head()

,hora,temp_ar,umidade,radiacao,vento_vel,precipitacao,pressao
datetime,,,,,,,
2024-01-01 00:00:00,00:00,"26,8",67.0,NaN,"2,2",0,"970,5"
2024-01-01 01:00:00,01:00,"26,4",71.0,NaN,"1,5",0,"970,4"
2024-01-01 02:00:00,02:00,"26,7",70.0,NaN,"1,4",0,"970,8"
2024-01-01 03:00:00,03:00,"23,2",88.0,NaN,",9","8,8","970,8"
2024-01-01 04:00:00,04:00,"24,3",87.0,NaN,"2,1","2,6","970,2"

Converter variáveis climáticas para float

In [19]:
# Lista das colunas numéricas
variaveis_numericas = [
    'temp_ar',
    'umidade',
    'radiacao',
    'vento_vel',
    'precipitacao',
    'pressao'
]

for col in variaveis_numericas:
    # 1) garantir que é string
    df[col] = df[col].astype(str).str.strip()
    
    # 2) trocar vírgula por ponto
    df[col] = df[col].str.replace(',', '.', regex=False)
    
    # 3) converter para float; valores estranhos viram NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')

df.dtypes

hora             object
temp_ar         float64
umidade         float64
radiacao        float64
vento_vel       float64
precipitacao    float64
pressao         float64
dtype: object

Ver valores faltantes

In [20]:
df[variaveis_numericas].isna().sum()

temp_ar         5301
umidade         5305
radiacao        8784
vento_vel       5301
precipitacao    5374
pressao         5301
dtype: int64

Removendo coluna radiacao, por estar 100% vazia (não acrescenta nada ao modelo)

In [21]:
df = df.drop(columns=['radiacao'])
variaveis_numericas_sem_rad = ['temp_ar', 'umidade', 'vento_vel', 'precipitacao', 'pressao']

Remover linhas com NaN nas variáveis essenciais

In [23]:
df = df.dropna(subset=variaveis_numericas_sem_rad)

In [26]:
len(df)

3406

In [27]:
df[variaveis_numericas_sem_rad].isna().sum()

temp_ar         0
umidade         0
vento_vel       0
precipitacao    0
pressao         0
dtype: int64

In [28]:
df.head()

                      hora  temp_ar  umidade  vento_vel  precipitacao  pressao
datetime
2024-01-01 00:00:00  00:00     26.8     67.0        2.2           0.0    970.5
2024-01-01 01:00:00  01:00     26.4     71.0        1.5           0.0    970.4
2024-01-01 02:00:00  02:00     26.7     70.0        1.4           0.0    970.8
2024-01-01 03:00:00  03:00     23.2     88.0        0.9           8.8    970.8
2024-01-01 04:00:00  04:00     24.3     87.0        2.1           2.6    970.2